<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主页</title>
    <style>
        body{
            background-color: skyblue;
            color:#fff;
        }

        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>欢迎来到米修在线的<%= websiteName %>页面！</h1>
    <!-- <p><strong>Age:</strong><%= data[0].age%></p>
    <p><strong>Name:</strong><%= data[0].name%></p> -->

    <h2>个人介绍</h2>
    <ul>
        <% data.forEach(item => {%>
            <li><%= item.age%></li>
            <%item.name.forEach(item => {%>
                <li><%= item.name%></li>
                <% })%>

        <%})%>
    </ul>
</body>
</html>